.left-tab {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.right-tab {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}